<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <script src="https://kit.fontawesome.com/c323ca6c65.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .a{
             background-color: yellow;height:500px;width:800px;margin-left: 100px;position: fixed;
        }
        .b{
            background-color: green;height:350px;width:350px;padding: 20px,20px,20px,20px;

        }
        .c{background-color:white;height:350px;width:350px;


        }
        .d{height:150px;width:150px;margin-left:940px;

        }
    </style>
</head>
<body style="background-color:skyblue;">
    <form method="post">{% csrf_token %}
    <div class="a" style="margin-top:50px;">

        <div class="b" style="margin-left: 30px;margin-top:50px;padding-top:45px;"align="center">
            <h3 style="color:red;"><i><u>Account Details</u></i></h3>
            <p><b>User name:{{a.uname}}</b></p>
            <p><b>First name:{{a.fname}}</b></p>
        <p><b>lastname:{{a.lname}}</b></p>
        <p><b>Email:{{a.em}}</b></p>
            <p><b>Phone no: {{a.num}}</b></p>
             <a href="http://127.0.0.1:8000/bank_app/bankedit/{{a.id}}" style="height:40px;width:130px;margin-left: 10px;margin-top:10px;" class="btn btn-warning" type="submit">Edit</a>
        </div>
            <div class="c" style="margin-left: 400px;margin-top:-350px;">

                <a href="http://127.0.0.1:8000/bank_app/addamount/{{a.id}}" style="height:50px;width:200px;margin-left: 60px;margin-top:40px;" class="btn btn-outline-success" type="submit">Add Amount</a>
                <a href="http://127.0.0.1:8000/bank_app/widraw/{{a.id}}" style="height:50px;width:200px;margin-left: 60px;margin-top:40px;" class="btn btn-outline-danger" type="submit">Withdraw Amount</a>
                <a href="http://127.0.0.1:8000/bank_app/Balancecheck/{{a.id}}" style="height:50px;width:200px;margin-left: 60px;margin-top:40px;" class="btn btn-outline-info" type="submit">Check Balance</a>






            </div>

    </div>
        <div class="container" id="d4">
            <div class="d" >
        <img  src="{% static im %}" height="150px" width="150px"
        style="border-radius:50%;background-color:green;">

                <a class="img" href="http://127.0.0.1:8000/bank_app/editimage/{{a.id}}" target="_blank">
                    <img src="{% static 'bank icon img.jpg' %}" style="height: 20px;margin-left:520x;"></a>
    </div><br>
    <h6 style="margin-left:940px;">Username:{{a.uname}}</h6>
    <h6 style="margin-left:940px;">Account No:</h6><br>
            <input style="margin-left:940px;" type="text" value="{{a.ac_num}}"><br><br>
            <a class="btn btn-success" style="margin-left:940px;" href="http://127.0.0.1:8000/bank_app/ministatement/{{a.id}}">MINI STATEMENT</a>
            <a class="btn btn-outline-primary" style="margin-left:940px;margin-top:30px;" href="http://127.0.0.1:8000/bank_app/Newsuser/">NEWS FEED</a>

             <a class="btn btn-danger" style="margin-left:940px;margin-top:50px;" href="http://127.0.0.1:8000/bank_app/Logout/">LOGOUT</a>




        </div>

    </form>
</body>
</html>